.cocktail-card {
  padding: 54px 48px;
}


.cocktail-presentation  {
  padding-right: 16px;
  padding: 0px;

  ul{list-style-type: none;
      padding: 0px;
      margin: 0px;
      .dose-ingredient{
        display: flex;
        justify-content: space-between;
        padding-right: 16px;
        p {display: inline-block;}
      }
    }
}

.cocktail-schema  {
  padding: 0px;
  ul{list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

}
.cocktail-card-top.row {
  height: 400px;
}

.cocktail-schema {
  background-color: rgba(145, 9, 30, 0);
}

.schema-incredient {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  p{
    display: inline-block;
    margin: 0px;
    color: white;
  }

}

.glass {
  
  .glass-edge{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0px;
  }
  .doses{
    padding: 0px;
  }

}
